:root {
    --primary-header-color: #FFFFFF;
    --second-primary-color: #212121;
    --logo-color-button:  #2196F3;
    --color-p-text: #757575;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0px;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    
} 
body{
    color: var(--second-primary-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
}
.link {
    text-decoration: none;
    list-style: none;
}
.list {
    list-style: none;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}

li, ul, h1, h2, a {
    text-decoration: none;
    list-style-type: none;
}
   
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    outline: 2px solid tomato;
    padding-right: 15px;
    padding-left: 15px;
}
/* ------------------nav-list--------------*/
.mail-tell {
    display: flex;
    margin-left: auto;
}
.mail-tell .item + .item {
   margin-left: 50px; 
}
.header-nav {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 80px;
}
/*--------------HEADER------------------- */

.header-nav > ul> li {
    list-style-type: none;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list > .item:not(:last-child) {
    margin-right: 40px;
}

.page-header {
    background-color: var(--primary-header-color);
    
}
.header-logo {
    color: var(--second-primary-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-style: normal;
}
.color-logo {
    color: var(--logo-color-button);
    font-family: 'Raleway';
    font-style: normal;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-primary-color);
}
.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-p-text);
    
}


.address-link:hover,
.header-link:hover {
   color: var(--logo-color-button);
}


/* -------------Main---------------- */

.hero {
    background-color: #2F303A;
    text-align: center;
    height: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);
    margin-top: 0;
    margin-bottom: 30px;
    
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    cursor: pointer;
    background: #2196F3;
    
}
.hero-topic {
    margin-top: 107px;
}
/* ------------------HERO_TOPIC_---------- */ 

.topic-list {
    display: flex;
    margin-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-primary-color);

    margin-bottom: 10px
}
.second-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-p-text);
}
/* -----------------What we are do------------ */
.about-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
    margin-bottom: 50px;

}
.about-img {
    display: flex;
    margin-bottom: 94px;
    justify-content: space-around;

}
.about-img > .img-list:not(:last-child) {
    margin-right: 30px;
}


/* --------------------Our TEAM--------- */
.team-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team-hero {
    text-align: center;
    margin-bottom: 50px;
}
   
.about-img {
    padding-left: 15px;
    padding-right: 15px;
}

.team-list {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin-bottom: 94px;
    

}
.team-list > li {
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
    margin-bottom: 10px;
}
.team-pre-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-p-text);
    margin-bottom: 30px;
}
.img-team {
    margin-bottom: 30px;
}

/* ------------------------ФУТер ------------ */
.address-list, a {
    font-style: normal;
    list-style-type: none;
    
}

.address-list {
    flex-wrap: wrap;
    margin-top: 20px;
}
.footer-block {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
}
.item:not(:last-child) {
    margin-bottom: 9px;
}
.address-list:hover {
    color: var(--logo-color-button);
}
.footer-link-adress:hover {
    color: var(--logo-color-button);
}
.logo-footer{
    color: var(--logo-color-button);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    
}
.footer-logo {
    color: var(--primary-header-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}


.footer-block {
    background-color: #2F303A;
    height: 252px;
}
.footer-link-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0;

}
/* ----------------------------Portfolio-------------------------- */

.top-list {
    display: flex;
    margin-top: 94px;
    justify-content: center;
    
}

.top-list > li:not(:last-child) {
    margin-right: 8px;
    
}

.portfolio-list {
    margin-top: 34px;
}

.button-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    
}
.button-portfolio:hover {
    color: var(--primary-header-color);
    background-color: var(--logo-color-button);
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    padding: 20px 24px 4px 24px;
    
}
.portfolio-pre-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.container-portfolio {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    margin-bottom: 94px;
    /* background-color: tomato; */
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
} 
/* .portfolio-items {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: teal; 

} */
.portfolio-items:nth-child(3n) {
    margin-right: 0;

}
/* .portfolio-items:nth-last-child(-n+3) {
    margin-bottom: 0;

}  */
.portfolio-items {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}




